<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back/Bman_B_f00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,304},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Back/Bman_B_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,396},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Back/Bman_B_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,308},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Back/Bman_B_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,270},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Back/Bman_B_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,304},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Back/Bman_B_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,266},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Back/Bman_B_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,271},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Back/Bman_B_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,266},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Back/Creep_B_f00.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,132},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Back/Creep_B_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,126},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Back/Creep_B_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,131},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Back/Creep_B_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,132},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Back/Creep_B_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,126},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Back/Creep_B_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,79},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>BackgroundTile.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,66},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>BombPowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Bomb_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,332},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Bomb_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,284},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Bomb_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,284},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Control_PlayerOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{149,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,23}}</string>
                <key>sourceSize</key>
                <string>{151,23}</string>
            </dict>
            <key>Control_PlayerTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,23}}</string>
                <key>sourceSize</key>
                <string>{160,23}</string>
            </dict>
            <key>ExplodableBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,60},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FlamePowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,270},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Flame_F02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,446},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Flame_F03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,396},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Flame_F04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,358},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Flame_f00.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,354},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Flame_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,354},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Front/Bman_F_f00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,244},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Front/Bman_F_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,196},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Front/Bman_F_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,196},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Front/Bman_F_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,183},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Front/Bman_F_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,156},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Front/Bman_F_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,108},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Front/Bman_F_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Front/Bman_F_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{48,86}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Front/Creep_F_f00.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,56},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Front/Creep_F_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,56},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Front/Creep_F_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,56},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Front/Creep_F_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,56},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Front/Creep_F_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Front/Creep_F_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,27},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>One_Player_Hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,31},{118,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{118,27}}</string>
                <key>sourceSize</key>
                <string>{132,27}</string>
            </dict>
            <key>One_Player_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,27},{118,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{118,27}}</string>
                <key>sourceSize</key>
                <string>{132,27}</string>
            </dict>
            <key>Portal.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Side/Bman_S_f00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,156},{48,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Side/Bman_S_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{48,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Side/Bman_S_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{48,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Side/Bman_S_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,220},{48,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Side/Bman_S_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,182},{48,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Side/Bman_S_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,178},{48,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Side/Bman_S_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,178},{48,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Side/Bman_S_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,132},{48,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{48,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>Side/Creep_S_f00.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,384},{40,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Side/Creep_S_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,384},{40,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Side/Creep_S_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,334},{40,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Side/Creep_S_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,334},{40,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Side/Creep_S_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,359},{40,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Side/Creep_S_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{40,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Side/Creep_S_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,56},{40,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SolidBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,60},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>SpeedPowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Two_Players_Hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{132,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,27}}</string>
                <key>sourceSize</key>
                <string>{132,27}</string>
            </dict>
            <key>Two_Players_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{132,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,27}}</string>
                <key>sourceSize</key>
                <string>{132,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomberman.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6634a6a1098a10f5df57ce7d718130df$</string>
            <key>textureFileName</key>
            <string>bomberman.png</string>
        </dict>
    </dict>
</plist>
